<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
   <!--  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"> -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "PMVC" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
    
    <script type="text/javascript" src="//use.typekit.net/jzd1zli.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="../javascripts/wufoo.js"></script>

  </head>
  
  <body class="<%= page_classes %>">
		  <nav class="container_12">
		  	<%= link_to(image_tag("/images/logo.svg", :alt => "logo", :title => "Home"), "/", class: "alpha grid_3") %>
		  	<div class="nav-links grid_9 omega">
			  	<%= link_to "about", "/about.html", class: "nav-link" %>
				<%= link_to "events", "/events.html", class: "nav-link" %>
				<%= link_to "get involved", "/involved.html", class: "nav-link" %>
				<%= link_to "resources", "/resources.html", class: "nav-link" %>
				<%= link_to "donate", "", class: "donate-link" %>
		  	</div>
		  </nav>
    <%= yield %>
    <div class="global">
	    <div class="container_12">
		    <div class="voices alpha push_1 grid_5">
		    	<div class="container_12">
				    <div class="star grid_1">
				    	<%= image_tag("star.svg", :alt => "star", class:"") %>
				    </div>
					  <h4 class="push_2 grid_8">voices of pmvc</h4>
					    <p class="push_2 grid_9 omega voices-txt" id="voices-content1">“This is an example of the vet voices idea. It will cycle through a list of different quotes from local veterans. Showing a few different short quotes”</p>
					    <p class="push_2 grid_9 omega voices-txt" id="voices-content2">“Thanks for this group, it is so fun to get together with other veterans.  We would not have done this on our own.”</p>
					    <p class="push_2 grid_9 omega voices-txt" id="voices-content3">“BLAH BLAH”</p>
					    <p class="push_2 grid_9 omega voices-txt" id="voices-content4">“voicezzzz”</p>
					    <p class="push_2 grid_9 omega voices-txt" id="voices-content5">“V to the oices.”</p>
				</div>
			</div>
			<div class="push_1 grid_5 omega">
				<div class="container_12">
					    <p class="global-txt push_2 grid_10">Want to learn more about PMVC?</p>
					    <a href="about.html"><p class="global-button push_3 grid_8">Meet Our Team</p></a>	    
				</div>
		    </div>
	    </div>
    </div>
    <div class="footer">
    	<div class="container_12">
	    	<div class="donate prefix_1 grid_9">
		   	 	<%= link_to "donate", "", class: "grid_3 donate-button alpha" %>


	    	</div>
	    	<div class="social grid_1 omega">
				<%= link_to(image_tag("/images/social-fb.svg", :alt => "facebook icon", :title => "facebook icon"), "/", class: "social")%>
				<%= link_to(image_tag("/images/social-meet.svg", :alt => "meetup icon", :title => "meetup icon"), "/", class: "social")%>
	    	</div>
	    	<p class="footer-txt grid_12">VETERANS CONNECTION 2014 ALL RIGHTS RESERVED.</p>
	    	
    	</div>
    </div>
  </body>
</html>