<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "PMVC" %></title>
    
    <%= stylesheet_link_tag "normalize", "all", "styles" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
	  <div class="container_12">
		  <nav class="container_2 push_1 alpha">
		  	<%= link_to(image_tag("/images/logo.svg", :alt => "logo", :title => "Home"), "/") %>
		  	<%= link_to "about", "/about.html", class: "nav-link nav" %>
			<%= link_to "events", "/events.html", class: "nav-link nav" %>
			<%= link_to "get involved", "/involved.html", class: "nav-link nav" %>
			<%= link_to "resources", "/resources.html", class: "nav-link nav" %>
			<%= link_to "donate", "", class: "nav-link nav" %>
		  </nav>
	  </div>
    <%= yield %>
    <div class="global">
	    <div class="global-text container_12">
		    
	    </div>
    </div>
    <div class="footer">
    	<div class="container_12">
	    	<div class="button grid_2">
		   	 	<%= link_to "donate", "", class: "nav-link grid_2" %>
	    	</div>
	    	<div class="social">
				<%= link_to(image_tag("/images/social-fb.svg", :alt => "facebook icon", :title => "facebook icon"), "/") %>
				<%= link_to(image_tag("/images/social-meet.svg", :alt => "meetup icon", :title => "meetup icon"), "/") %>
	    	</div>
	    	<p class="footer-txt push_4 grid_4">VETERANS CONNECTION 2014 ALL RIGHTS RESERVED.</p>
    	</div>
    </div>
  </body>
</html>