---
title: Portland Metro Veteran's Connection
---

<div>
	
	<div class="banner">
		<div class="container_12">
		 	<div class="banner-box omega push_1 grid_10 omega">
		 		<%= image_tag("stay-connected.svg", :alt => "stay connected", class:"push_1 grid_10 tag") %>
		 		<p class="banner-txt grid_12">Supporting local veterans &amp; their friends and family.</p>
		 	</div>
		</div>
	 	
	</div>
	<div class="star-wrapper container_12">	
		<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star grid_2 push_5 omega alpha") %>
	</div>			
	<div class="intro container_12">
<<<<<<< HEAD
			<div class="">	
				<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star prefix_5 grid_2 suffix_5") %>
			</div>
=======
>>>>>>> FETCH_HEAD
			<p class="intro-txt prefix_2 grid_8 suffix_2">PMVC is a local all-inclusive group formed by veterans for veterans&mdash;built on <em>community</em>, <em>conversation</em> and <em>connection</em>.</p>
			<div class="black-rule push_1 grid_10"></div>
		</div>
	</div>

	<div class="main-content content-section">
		<div class="container_12">
		<h2 class="prefix_1 grid_11">CONNECTING VETS</h2>
			<div class=" prefix_2 grid_8 connect-slides">
				<%= image_tag("james.jpg", :alt => "james") %>
				<%= image_tag("james.jpg", :alt => "james") %>
			</div>
			<div class="intro-txt prefix_2 grid_8 suffix_2">
				We hold a variety of events each month for veterans &amp; their friends and families.
			</div>
		</div>
		
	</div>
	

</div>
