---
title: PMVC Resources
---

<div>
	<div class="banner banner-resources">
		<div class="container_12">
		 	<div class="banner-box push_1 grid_10">
		 		<h1 class="grid_12">Providing veterans with peer-support.</h1>
		 		<div class="rule push_4 grid_4"></div>
		 		<p class="banner-txt grid_12">We have a wide variety of resources for local veterans.</p>
		 	</div>
		</div>
	</div>
		<div class="star-wrapper">	
			<%= image_tag("star-blue.svg", :alt => "star", class:"blue-star") %>
		</div>
		<div class="intro">
			<div class="container_12">
			<p class="intro-txt alpha push_2 grid_8 omega">We have many resources and partners that can offer support to our veterans &amp; their friends and family.</p>
			<div class="black-rule alpha push_1 grid_10 omega"></div>
			</div>
		</div>
	
		<div class="container_12">
			<div class="alpha push_1 grid_3 omega">
			<h2><span class="blue-bar">RESOURCES</span></h2></div>
			
			<div class="alpha push_1 grid_6 omega">
				<ul class="section-txt">
				<li><%= link_to "County Veteran Service Officers", "http://www.oregon.gov/odva/vsodirect/Pages/locator.aspx", class: "" %></li>
				<li>CRRC</li>
				<li><%= link_to "Vet Center", "http://vetcenter.va.gov/" %></li>
				<li><%= link_to "Oregon National Guard","http://oregonarmyguard.com/" %></li>
				<li><%= link_to "Oregon Department of Veteran Affairs","http://www.oregon.go/ODVA" %></li>
				</ul>
			</div>
			
			<div class="alpha push_1 grid_3 omega">
			<h2><span class="blue-bar">PARTNERS</span></h2></div>
			
			<div class="alpha push_1 grid_3 omega page-margin">
				<ul class="section-txt">
				<li><%= link_to "Folktime", "http://folktime.org" %></li>
				<li>(more partners to come)</li>
				</ul>
			</div>
			
		</div>
</div>